html {
    background-image: url(https://garden.spoonflower.com/c/12021279/p/f/m/gW-Ecc5TIGz3qCBB9Jgk9ddGR-RdZRWNSgl4RQv4R34Pylfs0FoqGt5tng/Spiderwebs%20Purple%201%2F2%20Size.jpg)
   
}
/* Bonus */
html:hover .spider {
    top: -120%;
}

.spider {
    position: absolute;
    display: inline-block;
    top: 0;
    left: 30%;

    /* 4. Animatie */
    animation: swing 60s infinite;
    transform-origin: top;

    /* Bonus */
    transition: 1s ease-in-out;
}

.spider .spiderweb {
    width: 2px;
    height: 200px;
    margin-left: 49px;
    background: rgba(184, 179, 179, 0.7);
}

.spider .body {
    width: 100px;
    height: 80px;
    background: #e1f722;
    position: relative;
    border-radius: 50%;
}

.spider .body .eye {
    width: 33px;
    height: 33px;
    position: absolute;
    bottom: 20px;
    background: #db39b8;
    border-radius: 50%;
}

.spider .body .eye.left {
    left: 15px;
}

.spider .body .eye.right {
    right: 15px;
}

.spider .body .eye:after {
    background: #5d8861;
    width: 7px;
    height: 7px;
    content: '';
    display: block;
    margin: 55%;
    border-radius: 50%;

    /* 3. Animatie */
    animation: look 15s infinite;
}

.spider .legs .leg {
    width: 80px;
    height: 40px;
    margin-top: -20px;
    border: 5px solid transparent;
    border-top-color: #5d8861;
    border-radius: 40px 40px 0 0;
}

.spider .legs {
    position: absolute;
    bottom: -10%;
    z-index: -1;
}

.spider .legs.left {
    left: -80%;
}
.spider .legs.right {
    right: -60%;
}


.legs.left .leg:nth-child(1){
    transform: rotate(10deg);
    margin-left: 10px;
}
.legs.right .leg:nth-child(1){
    transform: rotate(-15deg);
    margin-left: -10px;
}


.legs.left .leg:nth-child(2){
    transform: rotate(-20deg);
    margin-left: 20px;
}
.legs.right .leg:nth-child(2){
    transform: rotate(20deg);
    margin-left: -20px;
}


.legs.left .leg:nth-child(3){
    transform: rotate(-50deg);
    margin-left: 30px;
}
.legs.right .leg:nth-child(3){
    transform: rotate(50deg);
    margin-left: -30px;
}

/* 1. Animatie */
@keyframes look {
    0%, 40%, 100% {
        transform: translateX(0); 
    }

    45%, 95% {
        transform: translateX(-120%);
    }
}


/* 3. Animatie */
@keyframes swing {
    0%, 100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }
}